<h1>ジャンル編集</h1>

<%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch, local: true do |f| %>

  <div class="form-group">
    <p>ジャンル名</p>
    <%= f.text_field :name %>
  </div>
  
  <div class="form-group">
    <%=f.submit '変更を保存' %>
  </div>
<% end %>
